<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
   "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
   "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
   
   
   <hibernate-configuration>
   <session-factory>   
     <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
     <property name="connection.url">jdbc:mysql://localhost:3306/hbdb?useSSL=false</property>
     <property name="connection.username">root</property>
     <property name="connection.password">root</property>
     
     <property name="connection.pool_size">1000</property>
     
     <property name="show_sql">true</property>
   
   <property name="current_session_context_class">thread</property>
   <property name ="hbm2ddl.auto">update</property>
   <property name ="hibernate.dbcp.initialSize">5</property>
   <property name ="hibernate.dbcp.maxTotal">20</property>
   <property name ="hibernate.dbcp.maxIdle">10</property>
   <property name ="hibernate.dbcp.minIdle">5</property>
   <property name ="hibernate.dbcp.maxWaitMillis">-1</property>
   <mapping class="com.Tpc.Person"/>
   <mapping class="com.Tpc.Customer"/>
   <mapping class="com.Tpc.Employee"/>
   <mapping class="com.Tpcc.Person1"/>
   <mapping class="com.Tpcc.Customer1"/>
   <mapping class="com.Tpcc.Employee1"/>
   <mapping class="com.Tpsc.Person2"/>
   <mapping class="com.Tpsc.Customer2"/>
   <mapping class="com.Tpsc.Employee2"/>
   </session-factory>
   </hibernate-configuration>